{:deps
 {com.dynatrace.hash4j/hash4j {:mvn/version "0.17.0"}}
 :aliases
 {:dev
  {:extra-deps {io.github.robertluo/rich-comment-tests #:git{:tag "v1.1.1" :sha "3f65ecb"}}}
  :doc
  {:extra-deps {io.github.robertluo/clerk-doc #:git{:tag "v0.2.1" :sha "d2b37f0"}}
   :exec-fn robertluo.clerk-doc/clj->md
   :exec-args {:from "src/robertluo/word_count.clj" :to "doc/word_count.md"
               :eval-code? true}}}}